/* ================================= 
  Portfolio
==================================== */

/*Configuração global*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans;', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}

:root {
  --color-blue: #004677;
  --color-text: #333333;
  --color-white: #fff;
  --color-background: rgba(229, 229, 229, 0.5);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: var(--color-blue);
  font-size: 1rem;
  text-decoration: none;
}

/* ---- Navigation ---- */
.main-header {
  padding: 1.875rem 1rem;
  justify-content: flex-end;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
}

.main-nav li {
  margin: 24px;
  text-transform: uppercase;
}

/* ---- Main ---- */

/* Main */

.title {
  color: var(--color-blue);
}

.title_main {
  font-size: 2.5rem;

  margin-top: 2rem;
  margin-left: 7.6rem;
  margin-bottom: 11rem;
}

.main_container {
  display: flex;

  width: 100%;
}

.portfolio_container {
  margin-left: 1.8rem;
}

.about_portfolio {
  margin: 0 1.9rem auto 19rem;
}

.projects {
  width: 67.3%;
}

.title_secondary {
  font-size: 1.2rem;
  line-height: 3rem;

  margin-top: 0;
  margin-bottom: 1.2rem;
}

.paragraph_main {
  font-size: 0.8rem;
  line-height: 1.3rem;
  margin: 0;
  width: 16.4rem;
}

.projects_container {
  width: 100%;
  height: 26rem;

  display: flex;

  overflow: auto;
}

.projects_container::-webkit-scrollbar {
  width: 4px;
}

.projects_container::-webkit-scrollbar-track {
  background: #6bb4e7;

}

.projects_container::-webkit-scrollbar-thumb {
  background: var(--color-blue);
  border: solid 4px var(--color-blue);
}

.projects_img {
  width: 31.5rem;
  height: 23.6rem;
  margin: 0 1.9rem;
  border: solid 1px var(--color-blue);
}

/* ================================= 
  Media Queries - Portfolio
==================================== */

@media screen and (max-width: 1024px) {

  .main-header {
    margin-right: 9rem;

  }

  .title_main {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .about_portfolio {
    margin: 0 1.9rem auto 16rem;
  }

  .paragraph_main {
    font-size: 0.8rem;
    line-height: 1.3rem;
    margin: 0;
    width: 18rem;
  }

  .portfolio_container {

    text-align: center;

    justify-content: center;
  }

  .title_secondary {
    margin-bottom: 1rem;
    text-align: left;
  }

  .paragraph_main {
    text-align: justify;
    padding-bottom: 1rem;
  }

  .projects_container {
    height: 21rem;

  }

  .projects_img {
    width: 25.5rem;
    height: 18rem;

  }

}

@media screen and (max-width: 768px) {

  .main-header {
    width: 100%;
  }

  .main_container {
    flex-direction: column;
  }

  .title_main {
    margin: 4rem 0 2rem 0;
    text-align: center;
  }

  .about_portfolio {
    margin: auto;
    margin-bottom: 2.6rem;
  }

  .portfolio_container {
    text-align: center;
    justify-content: center;
    margin: 0;
  }

  .title_secondary {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
  }

  .paragraph_main {
    width: 25rem;
    text-align: justify;
    font-size: 1rem;
  }

  .projects {
    width: 100%;
  }

  .projects_container {
    height: 21rem;

  }

  .projects_img {
    width: 28.5rem;
    height: 18rem;

  }

}

@media screen and (max-width: 600px) {
  .main-nav {
    justify-content: center;
  }

  .projects_img {
    width: 23.5rem;
    height: 18rem;
  }
}

@media screen and (max-width: 414px) {
  .main-header {
    width: 100%;
  }

  .main_container {
    flex-direction: column;
  }

  .title_main {
    margin: 2.6rem 0 2rem 0;
  }

  .about_portfolio {
    margin: auto;
    margin-bottom: 1rem;
  }

  .portfolio_container {
    text-align: center;
    justify-content: center;
    margin: 0;
  }

  .title_secondary {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
  }

  .paragraph_main {
    width: 18.3rem;
    text-align: justify;
    font-size: 1rem;
  }


  .projects_container {
    height: 16rem;

  }

  .projects_img {
    width: 20rem;
    height: 13rem;

  }

}