
* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans;', sans-serif;
	color: var(--color-text);
	margin: 0;
	height: 100vh;
}

/*Usando CSS Variables*/ 

:root{
	--color-blue:#004677;
	--color-text: #333333;
	--color-white:#fff;	
}

ul {
  padding: 0;
  list-style: none;
}
h2,
a {
	color: var(	--color-blue);
}
a {
	text-decoration: none;
}
img {
	max-width: 90%;
	box-shadow: var(--color-text);
}
/* ---- Navigation ---- */
.main-header {
	padding: 1rem 1rem;
	justify-content: flex-end;
}
.main-nav {
	margin-top: 1.25rem;
	
}
.main-nav a {
	padding: 10px 30px;	
}
/* ---- Layout Containers ---- */
.primary {
	padding-right: 3rem;
	padding-left: 3rem;
	min-height: 85vh;
	display: flex;	
}
.primary .item{
	margin: auto;
}
 .secondary{
	display:flex;
	flex-direction: column;	
}
.secondary > h2{
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	margin-top: 9.375rem;
}
.secondary > p{
	text-align: justify;
	font-style: normal;
	font-weight: normal;
	font-size:   1rem;
	line-height: 1.875rem;
	font-weight: 100;
	color: var(--color-text);
	margin-bottom: 5rem;
	max-width: 31.25rem;
}
/* ================================= 
  Sobre
==================================== */



/* ================================= 
  Portfolio
==================================== */



/* ================================= 
  Media Queries - Index
==================================== */


@media (min-width: 769px) {
	.main-header,
	.main-nav,
	.row {
		display: flex;	
	}
	
	.col {
		flex: 1;
	}
	.col h2{
		line-height: 4rem;	
	}	
}
@media (max-width: 769px){
	.main-header{
		background: var(--color-blue);	
	}
    .main-nav li a{
		text-align: center;
		display: block;
	}
	.main-header .main-nav > li a{
		color: var(--color-white);
	}
	.secondary{
		max-width: 21.875rem;
		margin: 0 auto;
	}
	.social_media_link{
		display: flex;
		justify-content: center;
	}
	.social_media_link a{
		margin: 5px;
	}
	.secondary h2{
		margin-top: 0;
	}
}